body{
	background-color: white;
	padding-left: 1em;
}

#bannerarea{
    margin-bottom: 2em;
    vertical-align: bottom;
    font-size: 30pt;
    font-family: "Lucida Console";
    font-weight: bold;
}

#home h1{
    font-family: "Lucinda Console";
}

a{
    color:black;
    text-decoration: none;
    font-family: "Lucinda Console";
    font-size: 15pt;
}

a img {
	border: none;
}

ul{
	list-style-type:none:
	padding-left: 0em;
}

ul li a img{
	vertical-align: middle;
}

body > div, form{
    overflow: hidden;
    width: 35em;
}

div{
    overflow: hidden;
}

/*form styles*/
fieldset{
    background-color: #E0E0E0;
    border: 2px outset black;
    border-radius: 10px;
}

fieldset strong,
ul strong, 
fieldset label.left,
fieldset .column{
    float: left;
    width: 11em;
}

input[type = "submit"]{
    background-color: gainsboro;
    font-size: 120%;
    font-weight: bold;
}

legend{
    background-color: gainsboro;
    border: 2px outset black;
    padding: 0.2em;
}
